#  -- 容器编排文件变量替换定义 --
# 注意：默认此处定义与实际应用程序的配置文件所实现的环境变量替换没有任何关系！

# 此处的配置仅用于 compose.yaml 系列文件中的变量替换；
# 也不会传递到容器内部，除非声明 env_file 字段显式引用；
# 当然它自动加载的规则是文件名称必须是 .env

# 定义 xray 子服务的相对路径
XRAY_PROJECT_DIR="./services/xray-services"

# 定义 xray-api-bridge 子服务的相对路径
BRIDGE_PROJECT_DIR="./services/xray-api-bridge"

# 定义 ddddocr 子服务的相对路径
DDDDOCR_PROJECT_DIR="./services/ddddocr-musl"
# 覆盖 ddddocr 子服务的监听地址，此变量需要被变量替换加载实现 caddy 配置自动替换
DDDDOCR_LISTEN_ADDRESS="/dev/shm/ddddocr_http_api.sock"
